* {
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  margin: 0;
  background-color: #f3f6fd;
  font-weight: 400;
}

/* Navigation */

.app {
  display: flex;
}

.app-panel {
  background-color: #fbfaff;
  min-height: 100vh;
  padding: 30px;
}

.menu__item:nth-child(1) {
  padding-top: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.logo img{
  margin-bottom: 50px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.menu__link {
  background: #ffffff;
  box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
  border-radius: 14px;
  width: 45px;
  height: 45px;
}

.menu__link:hover img {
  filter: brightness(0) invert(1);
  transition: all 0.3s;
}

.menu__link:hover {
  background: #5051f9;
  transition: all 0.2s;
}

.menu__link-active {
  background: #5051f9;
}

.menu__link-active img {
  filter: brightness(0) invert(1);
}

.menu__add {
  border: 1px solid #cad5ff;
  border-radius: 14px;
  width: 46px;
  height: 45px;
  background-color: #ffffff;
}

.menu__add:hover {
  background: #e7ebff;
  transition: all 0.3s;
}

/* Content */

.header {
  display: flex;
  justify-content: space-between;
}

.app-content {
  min-width: 900px;
}

.app-container {
  max-width: 815px;
  margin: 0 auto;
  padding-top: 45px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: #000000;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;
}

.progress__text {
  display: flex;
  justify-content: space-between;
}

.progress__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #232360;
}

.progress__percent {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #768396;
}

.progress__bar {
  width: 100%;
  background: #e6e9ed;
  border-radius: 4px;
  height: 5px;
  position: relative;
}

.progress__cover {
  position: absolute;
  border-radius: 4px;
  height: 5px;
  background: #5051f9;
  transition: all .3s;
}

.main {
  padding-top: 30px;
}

.habbit {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.habbit__day {
  background: #fbfaff;
  padding: 19px 38px 19px 43px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  border-right: 1px solid #e7ebfb;
  min-width: 150px;
}

.habbit__comment {
  font-size: 14px;
  line-height: 16px;
  padding: 20px 25px;
}

.habbit__delete {
  margin-left: auto;
  margin-right: 10px;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
}

.habbit__delete img { 
	margin-right: 15px;
}

.habbit__delete:hover {
  background: #eff2ff;
}

input {
  background: #ffffff;
  border: 1px solid #e7ebfb;
  border-radius: 9px;
  padding: 12px 20px;
  font-family: "Comfortaa" cursive;
  flex: 1;
}

input::placeholder {
  color: #8899a8;
}

.habbit__form {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 0px 25px;
  position: relative;
}

.input__icon {
  padding-left: 45px;
}

.input-icon {
  position: absolute;
  top: 10px;
  left: -5px;
}

.habbit__btn {
  background: #edecfe;
  border-radius: 9px;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  padding: 14px 32px;
  color: #5051f9;
	cursor: pointer;
}

.habbit__btn:hover {
	background: #8989e7;
	color: #ffff;
	transition: all .3s;
} 
